.button {
    font-size: 10px;
}

.c-btn {
    &-open {
        position: relative;
        z-index: 9999;
        /*ボタンを最前面に*/
        cursor: pointer;
        width: 50px;
        height: 50px;
        & span {
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 14px;
            height: 3px;
            border-radius: 2px;
            background-color: #fff;
            width: 60%;
            &:nth-of-type(1) {
                top: 10px;
            }
            &:nth-of-type(2) {
                top: 23px;
            }
            &:nth-of-type(3) {
                top: 36px;
            }
        }
        &.active {
            & span:nth-of-type(1) {
                top: 18px;
                left: 18px;
                transform: translateY(6px) rotate(-45deg);
                width: 70%;
                background-color: $baseColor;
            }
            & span:nth-of-type(2) {
                opacity: 0;
            }
            & span:nth-of-type(3) {
                top: 30px;
                left: 18px;
                transform: translateY(-6px) rotate(45deg);
                width: 70%;
                background-color: $baseColor;
            }
        }
    }
}

.c-appBtn {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    & option {
        text-align: center;
    }
    & a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0.5em 1em;
        font-size: 18px;
        font-weight: 700;
        border-radius: 10px;
        &::after {
            content: '';
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            margin-left: 20px;
        }
        &:hover {
            color: #333333;
            text-decoration: none;
            &::after {
                border-top: 3px solid #333333;
                border-right: 3px solid #333333;
            }
        }
    }
    &--auth {
        color: #2285b1;
        border: 3px solid #a0c4d3;
        background: #fff;
        &::after {
            border-top: 3px solid #2285b1;
            border-right: 3px solid #2285b1;
        }
        &:hover {
            background-color: #cae8f5;
        }
    }
    &--logout {
        color: #bc351a;
        border: 3px solid #d3a4a0;
        background: #fff;
        &::after {
            border-top: 3px solid #bc351a;
            border-right: 3px solid #bc351a;
        }
        &:hover {
            background-color: #d3a4a0;
        }
    }
    &--auto {
        color: #0f7425;
        border: 3px solid #00c26c;
        animation: bg-color 5s infinite;
        ;
        &::after {
            border-top: 3px solid #10de3d;
            border-right: 3px solid #10de3d;
        }
        &:hover {
            background-color: rgb(248, 248, 248);
            ;
            animation: none;
            ;
            border: 3px solid #b2b2b2;
        }
    }
    &--none {
        color: black;
        border: 3px solid #b2b2b2;
        background: #fff;
        &::after {
            border-top: 3px solid #b2b2b2;
            border-right: 3px solid #b2b2b2;
        }
        &:hover {
            border: 3px solid #10de3d;
        }
    }
}

@keyframes bg-color {
    0% {
        background: rgb(255, 255, 255);
    }
    50% {
        background: rgb(0, 255, 0);
    }
    100% {
        background: rgb(255, 255, 255);
    }
}