.c-overlay {
    /*　要素を重ねた時の順番　*/
    z-index: 100;
    /*　画面全体を覆う設定　*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &__db {
        &__border {
            border: 1px solid #52c2d0;
            border-top: none;
        }
        &__table {
            width: 100%;
            border-collapse: collapse;
        }
        &__tbody {}
        &__tr {
            border-bottom: solid 2px white;
            &:last-child {
                border-bottom: none;
            }
        }
        &__th {
            position: relative;
            text-align: left;
            width: 30%;
            background-color: #52c2d0;
            color: white;
            text-align: center;
            padding: 10px 5px;
            vertical-align: middle;
            &:after {
                display: block;
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                top: calc(50% - 10px);
                right: -10px;
                border-left: 10px solid #52c2d0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
        }
        &__td {
            width: 70%;
            text-align: center;
            background-color: #eee;
            padding: 10px 0;
            vertical-align: middle;
        }
    }
    &__targetName {
        margin: 20px 0 0;
        padding-bottom: 6px;
        border-bottom: 1px solid;
        text-align: center;
    }
    &__ttl {
        text-align: center;
    }
    &__description {
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        margin: 12px;
    }
    &__contents {
        overflow: scroll;
        background: #fff;
        padding: 40px 40px 8px;
        border-radius: 12px;
    }
    &__btnContainer {
        padding: 25px;
        & .c-appBtn {
            border: 3px solid #777879;
            background: #fff;
            border-radius: 7px;
            box-shadow: 0px 2px 4px grey;
            padding: 6px;
            &:hover {
                background-color: #d1e1ec;
            }
        }
    }
}

.c-search {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    &__loading {
        width: 22px;
        height: 20px;
        position: absolute;
        top: -27px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__input {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #3f3f3f;
        border: 5px solid #787878 !important;
        z-index: 10;
    }
    &__submit {
        color: #3f3f3f;
        border: 5px solid #00ffb7;
        background: #fff;
        font-weight: bold;
        transition: .2s;
        &:hover {
            background: #91ffe0;
            transition: .2s;
        }
        &:active {
            background: rgba($color: #03c200, $alpha: .4);
            transition: .2s;
        }
    }
    &__keywords {
        &>li {
            list-style: inside;
            padding: 3px 0;
        }
    }
}

.ef {
    display: flex;
    & input[type='text']:focus {
        border: 5px solid #03c200;
        border-image: linear-gradient(to right, #03c200 0%, #00ffb7 100%);
        border-image-slice: 1;
        outline: none;
    }
}

.c-solidMenu {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 99%;
    &__textarea {
        resize: none;
        appearance: none;
        border: none;
        background: transparent;
        color: white;
        border-radius: 0;
        font: inherit;
        width: 98%;
    }
    &__date {
        width: 100%;
        &__a {
            width: 100% !important;
        }
    }
    & .c-search__submit {
        border: 5px solid #ff4d00;
        &:hover {
            background: #ff8956;
            transition: .2s;
        }
        &:active {
            background: rgba($color: #c20000, $alpha: .4);
            transition: .2s;
        }
    }
    & ul {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0.2em;
        & li {
            box-sizing: border-box;
            display: flex;
            width: 100%;
            margin: 0.1em;
            /* 隙間を埋めるなら0 */
            padding: 0;
            position: relative;
            & a {
                word-wrap: break-word;
                position: relative;
                box-sizing: border-box;
                display: block;
                width: 268px;
                height: auto;
                background: #000;
                text-decoration: none;
                padding: 0.3em;
                margin: 0;
                transform: translate(0, 0);
                border: none;
                top: 0;
                z-index: 100;
                &>span {
                    font-size: 1em;
                    color: #DDD;
                }
                &:hover {
                    transform: translate(0.25em, -0.25em);
                    transition: all 0.1s linear;
                    &::before {
                        width: 0.75em;
                        left: -0.75em;
                        top: 0.375em;
                        transform: skew(0deg, -45deg);
                        transition: all 0.1s linear;
                    }
                    &::after {
                        height: 0.75em;
                        left: -0.375em;
                        transform: skew(-45deg, 0deg);
                        transition: all 0.1s linear;
                    }
                }
                &:active {
                    transform: translate(0em, 0em);
                    transition: all 0.1s linear;
                    &::before {
                        width: 0.5em;
                        left: -0.5em;
                        top: 0.25em;
                        transform: skew(0deg, -45deg);
                        transition: all 0.1s linear;
                    }
                    &::after {
                        height: 0.5em;
                        left: -0.25em;
                        transform: skew(-45deg, 0deg);
                        transition: all 0.1s linear;
                    }
                }
                &::before {
                    box-sizing: border-box;
                    content: "";
                    position: absolute;
                    background: #666;
                    width: 0.5em;
                    height: -webkit-fill-available;
                    left: -0.5em;
                    top: 0.25em;
                    border-style: none;
                    transform: skew(0deg, -45deg);
                }
                &::after {
                    box-sizing: border-box;
                    content: "";
                    position: absolute;
                    background: #333;
                    top: 100%;
                    left: -0.25em;
                    width: 100%;
                    height: 0.5em;
                    border: none;
                    transform: skew(-45deg, 0deg);
                }
            }
            & .c-solidMenu__date__a {
                &::before {
                    height: 144px;
                }
            }
        }
    }
}

// vueカレンダー
.datepicker {
    left: 50% !important;
    transform: translateX(-50%);
}

.none {
    display: none;
}

.overlay-date-time-picker {
    & .field-input {
        font-size: $font-size_default !important;
    }
    &::before {
        box-sizing: border-box;
        content: "";
        position: absolute;
        background: #666;
        width: 0.5em;
        height: 45px;
        left: -0.5em;
        top: 0.25em;
        border-style: none;
        transform: skew(0deg, -45deg);
    }
    &::after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        background: #333;
        top: 100%;
        left: -0.25em;
        height: 0.5em;
        border: none;
        transform: skew(-45deg, 0deg);
    }
}

.field-input {
    border-radius: 0 !important;
}

@media screen and (max-width: 415px) {
    .datepicker {
        top: initial;
        left: initial;
        transform: initial;
    }
    .datepicker-buttons-container {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .c-overlay {
        &__contents {
            width: 66vw;
        }
    }
    .c-solidMenu {
        & ul {
            & li {
                & a {
                    width: 82%;
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    .c-overlay {
        &__contents {
            padding: 40px 15px 8px;
            width: 86vw;
        }
    }
}