.p-home {
    @extend .u-inner;
    &__title {
        text-align: center;
        font-size: $font-size_3l;
        color: $baseColor;
    }
    &__list {
        padding: 140px 0;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        &__even {
            flex-direction: row-reverse;
        }
        &__img {
            width: 55%;
            height: 366px;
            background: gainsboro;
        }
        &__description {
            width: 40%;
            overflow-wrap: break-word;
        }
    }
    &__wave {
        position: relative;
        & canvas {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-52%);
            width: 58%;
        }
    }
}

@media screen and (max-width: 768px) {
    .p-home {
        &__list {
            display: block;
            &__img {
                width: 100%;
                height: 200px;
            }
            &__description {
                width: 100%;
                padding: 20px 0;
            }
        }
        &__title {
            font-size: $font-size_2l;
        }
        &__wave {
            position: relative;
            & canvas {
                top: 11px;
            }
        }
    }
}

@media screen and (max-width: 481px) {
    .p-home {
        &__title {
            font-size: $font-size_xxl;
        }
        &__wave {
            position: relative;
            & canvas {
                top: 10px;
                width: 66%;
            }
        }
        &__list {
            padding: 75px 0 30px;
        }
    }
}