.p-home {
    @extend .u-inner;
    &__title {
        text-align: center;
        font-size: 60px;
        color: $baseColor;
    }
    &__list {
        padding: 140px 0;
        margin-bottom: 140px;
        display: flex;
        justify-content: space-between;
        &__even {
            flex-direction: row-reverse;
        }
        &__img {
            width: 55%;
            height: 366px;
            background: gainsboro;
        }
        &__description {
            width: 40%;
        }
    }
    &__wave {
        position: relative;
        & canvas {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}