.u-device__pc {
    display: block;
}

.u-device__sp {
    display: none;
    & .c-nav__item a {
        color: $baseColor;
    }
}

.u-sp_br {
    display: none;
}

@media screen and (max-width: 768px) {
    .u-device__pc {
        display: none;
    }
    .u-device__desc {
        display: none;
    }
    .u-device__sp {
        display: block;
    }
    .u-blockNone {
        display: none;
    }
}

@media screen and (max-width: 481px) {
    .u-br {
        display: block;
    }
    .p-problem__description {
        width: 80%;
    }
    .u-sp_br {
        display: initial;
    }
}